
.nextcontainer2{
    background-image: 
    linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    url('../images/ai3.png');
    background-size: 1800px 1000px; /* Adjusts the background image to cover the entire container */
    background-repeat: no-repeat;
    height: 600px;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
    background-size: cover;
        background-position: center;
}

.headingai{
  font-size: 40px;
  font-weight: 700;
}

.texttt1{
  color: black;
  text-transform: uppercase;
  font-size: 20px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width:55%;
  font-weight: 800;
}

.text1{
    color: black;
    text-transform: uppercase;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.bg{
    width: 100%;
    height: 1700px;
    background-color: grey;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ourServices{
    margin-top: 0%;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

.list-container2 {
    text-align: left;
    /* margin-left: 570px; */
   margin-top: 60px;
    padding: 0 20px;
    
  }
  
  .list-container2 p {
    font-size: 22px;
    font-weight: 600;
    color: black;
  }
  
  .list-container2 ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .list-container2 li {
    font-size: 20px;
    color: black;
    margin: 10px 0;
  }

  @media (max-width: 1620px) {
    .ourServices{
      margin-top: 5%;
    }
    .bg{
      height: fit-content;
    }
  }
  @media (max-width: 1200px) {
    .list-container2{
      margin-left: 200px;
    }
    .bg{
      height: fit-content;
    }
    .ourServices{
      margin-top: 0%;
    }
  }

  @media (max-width: 760px) {
    .list-container2{
      margin-left: 2%;
    }
    .headingai{
      font-size: 30px;
    }
  }

  @media (max-width: 600px) {
   .texttt1{
    width: 90%;
    font-size: 18px;
   }
   button{
    margin: 8px;
    padding: 8px 23px;
  }
  .text1{
    font-size: 14px;
  }
  }

.services1-container{
  display:flex;
  justify-content: center;
align-items: center;
flex-wrap: wrap;
}