.contact-info-container {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    margin-left: 100px;
    border-radius: 1px;
    color: #000;
  }
  
  .contact-info-row {
    margin-top: 10px;
  }
  
  .contact-info {
    display: flex;
    align-items: flex-start;
    margin-bottom: 16px;
  }
  
  .contact-info-icon {
    font-size: 20px;
    color: darkblue;
  }
  
