.service-card {
  flex: 1 1 340px; /* Ensures cards grow/shrink to maintain consistent height and width */
  margin: 20px;
  padding: 40px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-logo {
  max-width: 100px;
  height: auto;
  margin-bottom: 15px;
  background-color: white;
}

.service-title {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}

.service-card .service-title a {
  text-decoration: none;
  color: inherit;
}

.service-title a:hover {
  text-decoration: underline;
}

.service-description {
  font-size: 20px;
  color: #666;
  text-align: center;
}

@media (max-width: 1300px) {
  .service-card {
      width: 80%; /* Adjust width to fit within the container */
      margin-left: 0;
      margin-right: 0;
      margin-top: 20px; /* Add spacing between stacked cards */
  }
}

@media (max-width: 1024px) {
  .service-card {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
  }
}

@media (max-width: 768px) {
  .service-card {
      width: 90%;
      margin-left: 20px;
      margin-right: auto;
      padding: 20px;
      margin-top: 20px;
  }

  .service-logo {
      max-width: 80px;
  }

  .service-title {
      font-size: 1.2em;
  }

  .service-description {
      font-size: 16px;
  }
}
